{% extends 'base.html' %}

{% block content %}
<div id="admin-page">
<h2>Strona admina</h2>

<!-- Przyciski do przełączania widoczności sekcji -->
<div class="admin-buttons">
    <button onclick="showSection('users-section')">Użytkownicy</button>
    <button onclick="showSection('products-section')">Produkty</button>
    <button onclick="showSection('orders-section')">Zamówienia</button>
</div>

<!-- Sekcja zarządzania użytkownikami -->
<div id="users-section" style="display:none;">
    <h3>Zarządzanie użytkownikami</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Rola</th>
                <th>Data utworzenia konta</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.created_at.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                    <!-- Formularz do zmiany roli użytkownika -->
                    <form action="{{ url_for('admin.change_role', user_id=user.id) }}" method="post" style="display:inline;">
                        <select name="new_role">
                            <option value="user" {% if user.role == "user" %}selected{% endif %}>User</option>
                            <option value="admin" {% if user.role == "admin" %}selected{% endif %}>Admin</option>
                        </select>
                        <button type="submit">Zmień rolę</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Sekcja produktów -->
<div id="products-section" style="display:none;">

    <div class="container" style="max-width: 800px; margin: 0 auto; padding: 100px;">
        <h2>Dodaj nowy produkt</h2>
        <form action="{{ url_for('admin.add_product') }}" method="post">
            <label for="name">Nazwa:</label>
            <input type="text" name="name" id="name" autocomplete="off" required>
    
            <label for="category">Kategoria:</label>
            <select name="category" id="category" required>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
    
            <label for="description">Opis:</label>
            <textarea name="description" id="description" maxlength="5000" rows="15"></textarea>
            <span id="charCount">0/5000</span>
    
    
            <label for="quantity">Ilość sztuk:</label>
            <input type="number" name="quantity" id="quantity" required min="0">
    
            <label for="price">Cena:</label>
            <input type="number" name="price" id="price" step="0.01" min="0" required>
    
            <label for="image_url">URL obrazka (opcjonalnie):</label>
            <input type="text" name="image_url" id="image_url">
    
            <button type="submit">Dodaj produkt</button>
        </form>
        </div>

    <h2>Tabela produktów</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Kategoria</th>
                <th>Opis</th>
                <th>Ilość</th>
                <th>Cena</th>
                <th>URL</th>
                <th>data dodania</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.category_name }}</td>
                <td style="max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ product.description }}</td>
                <td>{{ product.quantity}}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.image_url}}</td>
                <td>{{ product.date_added.strftime('%Y-%m-%d %H:%M')}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<!-- Sekcja zarządzania zamówieniami -->
<div id="orders-section" style="display:none;">
    <h3>Zarządzanie zamówieniami</h3>
    <table>
        <thead>
            <tr>
                <th>Numer zamówienia</th>
                <th>ID użytkownika</th>
                <th>Data złożenia zamówienia</th>
                <th>Status</th>
                <th>Kwota</th>
                <th>Adres</th>
                <th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Produkty</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order['id'] }}</td>
                <td>{{ order['user_id'] }}</td>
                <td>{{ order['order_date'] }}</td>
                <td>
                    <form action="{{ url_for('admin.update_order_status')}}" method="post" style="display:inline;">
                        <input type="hidden" name="order_id" value="{{ order['id'] }}">
                        <button type="submit"> 
                         {{ order['status'].value }}
                        </button>
                    </form>
                </td>
                <td>{{ order['total_price'] }} PLN</td>
                <td>{{ order['street'] }}</td>
                <td>{{ order['city'] }}</td>
                <td>{{ order['zip_code'] }}</td>
                <td>
                    <ul>
                            {% for item in order['items'] %}
                                <li>{{ item['product_name'] }} - {{ item['quantity'] }} szt. ({{ item['price'] }} PLN)</li>
                            {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // Funkcja przełączająca widoczność sekcji
    function showSection(sectionId) {
        // Ukryj wszystkie sekcje
        document.getElementById('users-section').style.display = 'none';
        document.getElementById('products-section').style.display = 'none';
        document.getElementById('orders-section').style.display = 'none';

        // Pokaż wybraną sekcję
        document.getElementById(sectionId).style.display = 'block';
    }

    // Sprawdź hash w URL po załadowaniu strony
    document.addEventListener('DOMContentLoaded', function () {
        if (window.location.hash === '#products-section') {
            showSection('products-section');
        } else if (window.location.hash === '#users-section') {
            showSection('users-section');
        } else {
            showSection('orders-section');
        }
    });
</script>

<script>
    const textarea = document.getElementById('description');
    const charCount = document.getElementById('charCount');

    textarea.addEventListener('input', () => {
        const currentLength = textarea.value.length;
        charCount.textContent = `${currentLength}/5000`;

        // Dodatkowa walidacja (opcjonalna)
        if (currentLength > 5000) {
            textarea.value = textarea.value.substring(0, 5000); // Obcięcie nadmiarowych znaków
        }
    });
</script>
{% endblock %}