{% extends 'base.html' %}
{% block content %}

<section class="special">
            <h3>{{ product.name }}</h3>
            <img src="{{ product.image_url }}" alt="{{ product.name }} zdjęcie" class="product-image-details">
            <p>Cena: {{ product.price }}</p>
            <button onclick="addToCart('{{ product.id }}', '{{ product.name }}', '{{ product.price }}')">Dodaj do koszyka</button>
            <p class="description">Opis:<br> {{ product.description|safe }}</p>
</section>
<section class="comment-section">
<div>
    <h2>Komentarze</h2>
    <!-- Wyświetlanie istniejących komentarzy -->
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.user_name }}</strong>: {{ comment.content }} (Dodano: {{ comment.created_at }}) Ocena: <strong>{{ comment.classification }}</strong>
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <form id="comment-form" action="{{ url_for('views.add_comment_view') }}" method="POST">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="hidden" name="user_name" value="{{ session['user_login'] }}">
        <input type="hidden" name="category" value="{{ product.category }}">
        <input type="hidden" name="product" value="{{ product.name }}">
        <label>Dodaj komentarz:</label>
        <textarea id="comment-content" name="content" placeholder="Treść komentarza" required></textarea>

        <button type="submit">Dodaj komentarz</button>
    </form>
</div>
</section>

<script>
    document.getElementById('comment-content').addEventListener('keydown', function (event) {
        // Sprawdź, czy naciśnięto Enter i nie wciśnięto Shift
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault(); // Zapobiega dodaniu nowej linii
            if (this.value.trim() === "") {
                alert("Treść komentarza nie może być pusta!");
                return; // Zatrzymuje wysyłanie formularza
            }
            document.getElementById('comment-form').submit(); // Wysyła formularz
        }
    });
</script>

<script>
    function updateCartCount(cart) {
    const totalQuantity = Object.values(cart).reduce((sum, item) => sum + item.quantity, 0);
    
    const cartCountElement = document.getElementById('cart-count');
    cartCountElement.textContent = totalQuantity > 0 ? totalQuantity : '';
}
    
function addToCart(productId, productName, productPrice) {
    // Prepare data to send in the POST request
    const formData = new URLSearchParams();
    formData.append('product_id', productId);
    formData.append('product_name', productName);
    formData.append('product_price', productPrice);

    // Send POST request to endpoint /cart/add_to_cart
    fetch('/cart/add_to_cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: formData.toString()
    })
    .then(response => {
        if (response.status === 401) {
            // Jeśli użytkownik nie jest zalogowany, przekieruj na stronę logowania
            window.location.href = '/auth/login';
        } else {
            // Jeśli odpowiedź jest prawidłowa, parsuj JSON
            return response.json();
        }
    })
    .then(cart => {
        // Update the total count of items in the cart
        updateCartCount(cart);
        location.reload();
    })
    .catch(error => console.error('Błąd:', error));
}
    </script>
{% endblock %}